<section class="content-header">
    <h1>
        <i></i>
        Misc
    </h1>
</section>
<section class="content">
    <!--<div class="row">
        <div class="col-md-12">
            <div class="alarm alarm-river">
                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </h4>
            </div>
        </div>
    </div>-->
    <div class="row-form">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <h4 class="status bkg-asphalt">
                            titulo_card_1
                        </h4>
                        <div class="card-content-ha color-asphalt">
                            <h4 class="fs5_4">
                                123
                            </h4>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card ">
                        <h4 class="status bkg-river">
                            titulo_card_2
                        </h4>
                        <div class="card-content-ha color-river">
                            <h4 class="fs5_4">
                                333
                            </h4>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h4 class="status bkg-amethyst">
                            titulo_card_2
                        </h4>
                        <div class="card-content-ha color-amethyst">
                            <h4 class="fs5_4">
                                333
                            </h4>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                    <div class="card">
                        <h4 class="title">
                            Projetos em andamento
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="fs2">
                                        MGPE
                                    </h4>
                                    <h4>
                                        ultima atualizacao <i>30/01/2017</i>
                                    </h4>
                                    <h4 >
                                        dados do projeto
                                    </h4>
                                    <h4 class="fs0_75">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h4>
                                </div>
                                <div class="col-md-4 ">
                                    <h4 class="fs2">
                                        CLIQ
                                    </h4>
                                    <h4 >
                                        ultima atualizacao <i>30/01/2017</i>
                                    </h4>
                                    <h4 >
                                        dados do projeto
                                    </h4>
                                    <h4 class="fs0_75">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h4>
                                </div>
                                <div class="col-md-4 ">
                                    <h4 class="fs2">
                                        CSUP
                                    </h4>
                                    <h4 >
                                        ultima atualizacao <i>30/01/2017</i>
                                    </h4>
                                    <h4 >
                                        dados do projeto
                                    </h4>
                                    <h4 class="fs0_75">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <h4 class="title">
                            Seja Bem-vindo, Gustavo Carvalho.
                        </h4>
                        <h4 class="subtitle">
                            Voce possui 5 novas mensagens.
                        </h4>
                        <div class="card-content-ha">
                            <ul class="mail-list">
                                <li>
                            <span class="col-md-1 number-mail number-mail-river">
                                1
                            </span>
                            <span class="col-md-9 title-mail">
                                Aviso importante
                            </span>
                            <span class="col-md-2 date-mail">
                                9:00pm
                            </span>
                                </li>
                                <li>
                            <span class="col-md-1 number-mail number-mail-emerald">
                                1
                            </span>
                            <span class="col-md-9 title-mail">
                                Aviso importante
                            </span>
                            <span class="col-md-2 date-mail">
                                9:00pm
                            </span>
                                </li>
                                <li>
                            <span class="col-md-1 number-mail number-mail-amethyst">
                                1
                            </span>
                            <span class="col-md-9 title-mail">
                                Aviso importante
                            </span>
                            <span class="col-md-2 date-mail">
                                9:00pm
                            </span>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>